<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="shellUsesDefault" value="true" />
        <add key="step1_1UsesDefault" value="true" />
        <add key="step1_2UsesDefault" value="true" />
        <add key="step1_3UsesDefault" value="false" />
        <add key="step1_4UsesDefault" value="false" />
        <add key="step2_1UsesDefault" value="true" />
        <add key="step2_2UsesDefault" value="true" />
        <add key="step2_3UsesDefault" value="true" />
        <add key="step2_4UsesDefault" value="true" />
        <add key="step2_5UsesDefault" value="true" />
        <add key="step3_1UsesDefault" value="true" />
        <add key="step3_2UsesDefault" value="true" />
        <add key="step3_3UsesDefault" value="true" />
    </appSettings>
</configuration>